@import "../../config";

.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    &-side {
        width: 35%;
        height: 100%;
        background-size: cover;
        background-position-x: center;
        background-position-y: bottom;

        @include respond(phone) {
            width: 0;
        }
    }

    &-page {
        width: 65%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        @include respond(phone) {
            width: 100%;
        }
    }

    &-container {
        width: 75%;
        height: auto;

        h1 {
            font-size: 3rem;
            font-weight: 200;
            line-height: 3.5rem;
            margin: 1rem 0;
        }

        form {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: flex-start;
            flex-flow: column;
            margin: 3rem 0;

            input {
                margin: 0.25rem 0;
            }

            button {
                margin: 1.25rem 0;
            }
        }

        a {
            color: var(--indigo);
            text-decoration: underline;
        }
    }
}