.profile {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
  position: relative;
}
.profile::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  background-color: var(--indigo);
  z-index: -1;
}
.profile-head {
  width: 100%;
  height: 12rem;
  background: transparent;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  background-image: url(https://www.transparenttextures.com/patterns/inspiration-geometry.png);
  background-attachment: fixed;
}
@media (max-width: 672px) {
  .profile-head {
    padding: 1rem 5.5rem 1rem 1rem;
  }
}
.profile-head svg {
  width: 1.5rem;
  height: 1.5rem;
}
.profile-head button {
  width: fit-content;
  height: auto;
  margin: 0.5rem;
  padding: 0.825rem 1.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 12px;
}
.profile-head button:first-child svg {
  margin-right: 0.5rem;
}
.profile-head button:last-child {
  width: 3rem;
  height: 3rem;
  border-radius: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-container {
  width: 90%;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: 40px;
  background-color: var(--bgcolor);
  box-shadow: var(--shadow-elevation-2dp);
}
@media (max-width: 672px) {
  .profile-container {
    width: 95%;
    height: 35rem;
    height: auto;
    flex-flow: column;
  }
}
.profile-image {
  width: 15rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
@media (max-width: 672px) {
  .profile-image {
    width: 100%;
    margin: 2rem auto;
  }
}
.profile-image img {
  border-radius: 500px;
}
.profile-content {
  width: calc(90% - 20rem);
}
@media (max-width: 672px) {
  .profile-content {
    width: 100%;
  }
}
.profile-content form {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
  padding-top: 2rem;
  position: relative;
}
.profile-content form .form-group {
  margin: 1rem auto;
}
.profile-content form .col-lg-100 .form-group {
  width: 95%;
}
@media (max-width: 672px) {
  .profile-content form .col-lg-100 .form-group {
    width: 90%;
  }
}
.profile-null {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column;
}
.profile-null-image {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-null-image img {
  max-width: 100%;
}
.profile-null-image h2 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 200;
  margin: 1rem auto;
}
.profile-recipes {
  width: 90%;
  margin: 2rem auto;
}
.profile-recipes-head {
  width: 100%;
  padding-right: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 672px) {
  .profile-recipes-head {
    flex-flow: column;
  }
}
.profile-recipes h1 {
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 200;
  padding: 1rem;
}
@media (max-width: 672px) {
  .profile-recipes h1 {
    font-size: 2.5rem;
  }
}

/*# sourceMappingURL=profile.css.map */
