@import "../../config";

.footer {
	width: 100vw;
	height: 25rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	background-color: var(--white);
	color: var(--black);

	@include respond(phone) {
		height: 17.5rem;
	}

	&-top {
		width: 100%;
		height: 20%;
		padding: 1rem 0;
		display: flex;
		justify-content: space-evenly;
		align-items: center;

		@include respond(phone) {
			height: 40%;
		}

		&-first,
		&-last {
			width: 35%;
			height: 2px;
			background-color: var(--black);

			@include respond(phone) {
				display: none;
			}
		}

		&-mid {
			width: 20%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 2rem;
			line-height: 2.5rem;
			text-transform: uppercase;

			@include respond(phone) {
				width: 100%;
				font-family: 'Audiowide', sans-serif;
				font-size: 2.5rem;
				line-height: 3.5rem;
			}
		}
	}

	&-mid {
		width: 100%;
		height: 60%;
		display: flex;
		justify-content: center;
		align-items: center;

		&>* {
			width: 33%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-flow: column;
		}

		&-left,
		&-right {
			a {
				margin: 1rem 0;
			}

			@include respond(phone) {
				display: none;
			}
		}

		&-mid {
			justify-content: flex-end;

			@include respond(phone) {
				width: 100%;
				height: 45%;
			}

			&-socials {
				width: 100%;
				height: 30%;
				display: flex;
				justify-content: space-evenly;
				align-items: center;
			}

			&-dash {
				width: 2px;
				height: 35%;
				margin: 1rem auto;
				background-color: var(--black);

				@include respond(phone) {
					display: none;
				}
			}
		}
	}

	&-bottom {
		width: 100%;
		height: 20%;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;

		a:hover {
			text-decoration: underline;
		}

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 20%;
			width: 60%;
			height: 2px;
			background-color: var(--black);
		}
	}
}